[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "==1.26.15"
selenium = "*"
flask = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
flask_marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
